body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  background: #f4f6f9;
}

header {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 15px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  background: #fff;
}

button {
  padding: 10px 15px;
  border: none;
  background: #198754;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background: #145c32;
}

main {
  padding: 20px;
}